@import 'leaflet/dist/leaflet.css';

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/fonts/tiempos-headline/tiempos-headline-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/fonts/tiempos-headline/tiempos-headline-light-italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Untitled Sans';
	src: url('/fonts/untitled-sans/untitled-sans-regular.woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	letter-spacing: -3%;
}

body {
	font-family: 'Untitled Sans', sans-serif;
}

html {
	overflow-y: scroll;
}

.leaflet-popup-content {
    background: transparent;
	background-color: #FBF8EF;
    padding: 0 !important;
}

.leaflet-popup-close-button {
    width: 24px; /* or the size you want */
    height: 24px; /* or the size you want */
    line-height: 24px; /* this should be the same as height for vertical alignment */
    font-size: 18px; /* or the size you want */
  }

  /* Add circle around the close button */
  .leaflet-popup-close-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px; /* this should be the same as the button's width */
    height: 24px; /* this should be the same as the button's height */
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
  }

  
/* @font-face {
    font-family: 'Graphik';
    src: url('/path-to-your-fonts/Graphik-Regular.woff2') format('woff2'),
         url('/path-to-your-fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-graphik {
    font-family: 'Graphik', sans-serif;
} */

/* @import '@fontsource/fira-mono';



:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
} */
